    /* RESET */

* {
    box-sizing: border-box; /* Include il padding e i bordi nelle dimensioni degli elementi */
    margin: 0; /* Rimuove i margini predefiniti */
    padding: 0; /* Rimuove il padding predefinito */

  }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

[class*='fa-'] {
  padding-right: 0.5rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

h4 {
  font-size: 16px;
}

    /* UTILITY */

.debug,
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: #ff000022;
  border: 2px dashed red;
}

.container {
    max-width: 850px; /* Larghezza massima */
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .container-xl {
    max-width: 1080px; /* Larghezza massima */
  }

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  /* column-gap: 1rem; */
  justify-content: space-between;
  align-items: center;

  margin-left: -1rem;
  margin-right: -1rem;
}

/* BUTTON */
.button-xl-blue,
.button-small-blue {
  background-color: #0061FE;
  border-color: #0061fe;
  color: white;
}

.button-small-white,
.button-small-blue,
.button-xl-blue {
  padding: 5px;
}

.button-small-white {
  background-color: white;
  border-color: white;
  color: black;
}

.button-small-blue,
.button-small-white {
  width: 4rem;
  height: 2rem;
}

.button-white {
  height: 2rem;
  width: 8rem;
  background-color: white;
  border-color: white;
  color: black;
}

.button-xl-blue {
  height: 2rem;
  width: 11rem;
}
/*  /BUTTON */

.border-only {
  max-width: 50px;
  border-bottom: 1px solid grey;
}

/*  COLONNE */
[class*='col'] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* colonna 1/2 */
.col-1-2 {
  flex-basis: calc(100% / 2);
}

/* colonna 1/3 */
.col-1-3 {
  flex-basis: calc(100% / 3);
}

/* colonna 1/4 */
.col-1-4 {
  flex-basis: calc(100% / 4);
}

/* colonna 1/5 */
.col-1-5 {
  flex-basis: calc(100% / 5);
}

/* colonna 1/6 */
.col-1-6 {
  flex-basis: calc(100% / 6);
}

/* colonna 1/5 */
.col-2-3 {
  flex-basis: calc(100% / 3 * 2);
}

.col-30 {
  width: 30%;
}

.col-50 {
  width: 50%;
}

.col-70 {
  width: 70%;
}

.col-100 {
  width: 100%;
}
/*  /COLONNE */


/* HEADER */
.page-header {
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.page-header li {
  display: inline-block;
  vertical-align: middle;
  padding: 0.5rem;
}

          /* MAIN */

/* SECTION JUMBO */
#jumbo {
  background-color: aquamarine;
  margin-bottom: 5rem;
}

#jumbo .container {
  position: relative;
  top: 3rem;
}

#jumbo h1 {
  font-size: 50px;
}

#jumbo .row * {
  gap: 4rem;
}

#jumbo .title-jumbo {
  padding-bottom: 2rem;
}

#jumbo .col-30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
}

#jumbo .arrow {
  display: inline-block;
  font-size: 4rem;
  padding-bottom: 50px;
}
/* / SECTION JUMBO */


/* SECTION BUSINESS PLAN */

#business-plan .row {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  row-gap: 2rem;
}

#business-plan .col-1-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 2px;
  margin-bottom: 2px;
  text-align: center;
  border: 1px solid gray;
  flex-basis: calc(100% / 3 - 2rem);
  min-height: 800px;

  position: relative;
  left: 0;
}

#business-plan .payment-type > div {
  display: inline-block;
  margin: 2rem 2rem 4rem 0rem;
}

#business-plan .circle {
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 2px solid #0061FE;
  border-radius: 50%;
}

#business-plan .category {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  
  text-align: center;
  border: 1px solid gray;
  
  position: absolute;
  top: -31px;
  right: 0;
  width: 100%;
}

#business-plan .li:not(:first-child) {
  margin-top: 0.5rem;
}

#business-plan .col-100 .category {
  position: absolute;
  top: -31px;
  right: 0;
  width: 100%;
}

#business-plan .card-professional .title,
#business-plan .title p:nth-child(3),
#business-plan .call-to-action,
#business-plan .info p:nth-child(1) {
  margin-bottom: 3rem;
}

#business-plan .card-advanced .title,
#business-plan .card-enterprise .title,
#business-plan .card-professional .title,
#business-plan .card-enterprise-office .title {
  margin-top: 1rem;
}

#business-plan .card-advanced .title,
#business-plan .card-enterprise .title,
#business-plan .info p:nth-child(2) {
  margin-bottom: 2rem;
}

#business-plan li,
#business-plan .call-to-action > *,
#business-plan .glossary > p {
  margin-bottom: 2rem;
}

#business-plan .title > *{
  margin-bottom: 0.5rem;
}

#business-plan .col-100 {
  margin-top: 2.5rem;
}

div.card-professional,
div.card-advanced,
div.card-enterprise {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

#business-plan .col-100 .card-enterprise-office {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

#business-plan .specs li::before {
  content: "\2713"; /* Codice del segno di spunta */
  color: #0061fe; /* Colore del segno di spunta */
  font-weight: bold; /* Spessore del segno di spunta */
  width: 1em; /* Spazio del segno di spunta */
  padding-right: 5px;
}

#business-plan .list li {
    position: relative;
    padding-left: 25px;
  }
  
  #business-plan .list li:first-child::before {
    font-family: "Font Awesome 6 Free"; /* Font della libreria Font Awesome */
    content: "\f007"; /* Codice Unicode per l'icona dell'utente */
    color: black;
    position: absolute;
    width: 1em;
    left: 0;
    top: 50%;
    transform: translateY(-50%);  /*trasla l'icona verso l'alto del 50% della sua altezza, rendendo così l'allineamento verticale più preciso*/
  }

  #business-plan .list li:nth-child(3)::before {
    font-family: "Font Awesome 6 Free"; /* Font della libreria Font Awesome */
    content: "\f064"; /* Codice Unicode per l'icona dell'utente */
    color: black;
    position: absolute;
    width: 1em;
    left: 0;
    top: 50%;
    transform: translateY(-50%);  /*trasla l'icona verso l'alto del 50% della sua altezza, rendendo così l'allineamento verticale più preciso*/
  }

  #business-plan .list li:nth-child(2)::before {
    font-family: "Font Awesome 6 Free"; /* Font della libreria Font Awesome */
    content: "\e185"; /* Codice Unicode per l'icona dell'utente */
    color: black;
    position: absolute;
    width: 1em;
    left: 0;
    top: 50%;
    transform: translateY(-50%);  /*trasla l'icona verso l'alto del 50% della sua altezza, rendendo così l'allineamento verticale più preciso*/
  }

#business-plan .glossary > p,
#business-plan .info p:nth-child(1) {
  font-weight: bold;
}

#business-plan .col-30 > .button-xl-blue {
  margin-bottom: 6rem;
}

#business-plan .card-enterprise-office  {
  border: 1px solid gray;
}

#business-plan .col-100 .card-enterprise-office {
  position: relative;
}
/* / BUSINESS PLAN */


 /* FIND PARTNERS */
#find-partners .col-70 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
}

#find-partners .col-30 {
  padding-left: 2rem;
  padding-right: 2rem;
}

#find-partners .container {
  margin-top: 8rem;
  margin-bottom: 8rem;
  /* padding-left: -5rem; 
  padding-right: -0.5rem; */
}

#find-partners .col-30 > * {
  margin-bottom: 2rem;
}
 /* / FIND PARTNERS */

 /* UTILITIES */
#utilities h2 {
  margin-bottom: 3rem;
  padding-left: 0.5rem;
}

#utilities .title-utilities {
  margin-bottom: 1rem;
}

#utilities .container {
  margin-bottom: 8rem;
  /* padding-left: -5rem; 
  padding-right: -0.5rem; */
}

#utilities .row:not(:first-child) {
  row-gap: 2rem;
}
 /* / UTILITIES */

 /* CUSTOMERS */
 #customers .container {
  margin-bottom: 8rem;
  /* padding-left: -5rem; 
  padding-right: -0.5rem; */
}

#customers .title-customers {
  margin-bottom: 3rem;
}

#customers a {
  text-decoration: underline;
}
 /* / CUSTOMERS */

 /* FOOTER */
footer {
  background-color: black;
  color: white;
}

#footer-top h4 {
  margin-bottom: 1rem;
  margin-top: 4rem;
}

#footer-top .col-1-5 {
  margin-bottom: 4rem;
}

#footer-top .col-1-5 li {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#footer-bottom {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#footer-bottom {
  text-align: left;
}

#footer-bottom i {
  padding-top: 2rem;
}

#footer-bottom i,
#footer-bottom p {
  display: inline-block;
}

 /* / FOOTER */