    /* RESET */

* {
    box-sizing: border-box; /* Include il padding e i bordi nelle dimensioni degli elementi */
    margin: 0; /* Rimuove i margini predefiniti */
    padding: 0; /* Rimuove il padding predefinito */

  }

body {
  font-family: Verdana, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

    /* UTILITY */

.debug,
.debug * {
  min-height: 50px;
  padding: 5px;
  background-color: #ff000022;
  border: 2px dashed red;
}

.container {
    max-width: 850px; /* Larghezza massima */
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
/* column-gap: 2rem */
  justify-content: space-between;
  align-items: center;

  margin-left: -1rem;
  margin-right: -1rem;

}

/* button */
.button-xl-blue,
.button-small-blue {
  background-color: #0061FE;
  border-color: #0061fe;
  color: white;
}

.button-small-white,
.button-small-blue,
.button-xl-blue {
  padding: 5px;
}

.button-small-white {
  background-color: white;
  border-color: white;
  color: black;
}


[class*='col'] {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* colonna 1/2 */
.col-1-2 {
  flex-basis: calc(100% / 2);
}

/* colonna 1/3 */
.col-1-3 {
  flex-basis: calc(100% / 3);
}

/* colonna 1/4 */
.col-1-4 {
  flex-basis: calc(100% / 4);
}

/* colonna 1/5 */
.col-1-5 {
  flex-basis: calc(100% / 5);
}

/* colonna 1/6 */
.col-1-6 {
  flex-basis: calc(100% / 6);
}

/* colonna 1/5 */
.col-2-3 {
  flex-basis: calc(100% / 3 * 2);
}

.col-60 {
  width: 60%;
}

.col-40 {
  width: 40%;
}

.col-100 {
  width: 100%;
}

.col-50 {
  width: 50%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


    /* HEADER */
header li {
  display: inline-block;
  align-self: center;
}

.link-funzioni-header img {
vertical-align: middle;
}

    /* MAIN */
main {
  font-size: 10px;
}

.wrapper .row > .div {
  margin: 10px 0;
}
.content-focus-main {
  background-color: #b4d0e6;
  margin-bottom: 85px;
}

.content-focus-main > .container {
  position: relative;
}

.title-focus-main {
  padding-bottom: 30px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

.col-60 img {
  width: 100%;
}


main .content-focus-main > .container {
  position: relative;
  top: 4rem;
  left: 0;
}

.description-focus-main .col-40 > i {
  color: black;
  font-size: 50px;
  padding-top: 20px;
  padding-left: 20px;
}


.description-focus-main .col-40 > p {
  padding-top: 20px;
}

.description-focus-main .col-40 > button {
  margin-bottom: 20px;
}

.description-focus-main .col-40 > button {
  margin-bottom: 20px;
}

/* GRIGLIA RESPONSIVE */
.border-only {
  max-width: 50px;
  border-bottom: 1px solid grey;
}

.border {
  border: 1px solid grey;
}

main > .container:nth-of-type(2) .row *+ {
  margin: 15px 0;
}

    /* FOOTER */